:root {
  --symbol-size: 32px;
  --symbol-size-negative: -32px;
  --offset-x: calc((var(--symbol-size) / 2)*(1 - (1/1.141421356)/2));
  --symbol-arrow-width: calc(var(--symbol-size)*(1/15.5));
  --symbol-arrow-width-bottom: calc(var(--symbol-size-negative)*(1/15.5));
  --symbol-arrow-color: #141414;
}

.symbol_arrow_left,
.symbol_arrow_right {
  display: inline-block;
  position: relative;
  height: var(--symbol-size);
  width: var(--symbol-size);
}
.symbol_arrow_right:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: calc((var(--symbol-size) / 2)*1.141421356);
  height: calc(var(--symbol-arrow-width)*2);
  background: var(--symbol-arrow-color);
  transform: rotate(45deg) translate(var(--offset-x), calc((var(--symbol-arrow-width) / 1.141421356)*2));
}
.symbol_arrow_right:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: calc((var(--symbol-size) / 2)*1.141421356);
  height: calc(var(--symbol-arrow-width)*2);
  background: var(--symbol-arrow-color);
  transform: rotate(-45deg) translate(var(--offset-x), calc((var(--symbol-arrow-width-bottom) / 1.141421356)*2));
}

.symbol_arrow_left:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  display: block;
  width: calc((var(--symbol-size) / 2)*1.141421356);
  height: calc(var(--symbol-arrow-width)*2);
  background: var(--symbol-arrow-color);
  transform: rotate(-45deg) translate(calc(0px - var(--offset-x)), calc(0px - calc((var(--symbol-arrow-width-bottom) / 1.141421356)*2)));
}
.symbol_arrow_left:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  display: block;
  width: calc((var(--symbol-size) / 2)*1.141421356);
  height: calc(var(--symbol-arrow-width)*2);
  background: var(--symbol-arrow-color);
  transform: rotate(45deg) translate(calc(0px - var(--offset-x)), calc(0px - calc((var(--symbol-arrow-width) / 1.141421356)*2)));
}